footer {
  background-color: #042331;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0; /* Stick to the bottom */
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}

footer p {
  margin: 0;
  font-size: 16px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  footer {
    padding: 8px;
  }

  footer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 6px;
  }

  footer p {
    font-size: 12px;
  }
}
