footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; 
  background-color: #042331;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 2;
}

footer p {
  margin: 0;
  font-size: 16px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  footer {
    padding: 8px;
  }

  footer p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    padding: 6px;
  }

  footer p {
    font-size: 12px;
  }
}
