.container{
    align-items: center ;
    margin-left: 300px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    text-align: center;
    height: 65vh;
    width: calc(95% - 250px);
}

.track-order-btn{
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.track-order-btn:hover{
    background-color: #218838;
}

.icon{
    font-size: 50px;
    color: #28a745;
}

.message {
    font-size: 28px;
    color: #333333;
    margin: 20px 0;
}