.container {
    margin-left: 300px;
    margin-top: 150px;
    width: calc(95% - 300px);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}

td{
    position: relative;
}

th {
    background-color: #f1f1f1;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

tr:hover {
    background-color: #f9f9f9;
}

.product-name {
    align-items: center;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.product-name:hover {
    color: #5cb85c;
    cursor: pointer;
}

.price {
    font-weight: bold;
    color: #5cb85c;
}

.add-to-cart {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #4cae4c;
}

.action-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-trash {
    margin-left: 50px;
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fa-trash:hover {
    color: #c9302c;
}

.added-date {
    color: #888;
    font-size: 14px;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    h1 {
        font-size: 28px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    .add-to-cart {
        padding: 8px 12px;
        font-size: 12px;
    }
}
