
.admin-dashboard {
  display: flex;
 width: 70%;
  margin-left: 360px;
}

main {
  flex: 1;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 120px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.notifications {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.table-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #2a2f4a;
  color: white;
}

thead th {
  text-align: left;
  padding: 10px;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  padding: 10px;
}

.actions button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #ddd;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #2a2f4a;
  color: white;
  border: none;
}

.pagination button:hover {
  background-color: #ddd;
}

.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #f9fafb;
  padding: 5px 10px;
  width: 100%;
  max-width: 300px;
  margin-right: 40px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 100%;
}

.search-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #6b7280;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  background: #f9fafb;
  border: 1px solid #2563eb;
  color: #2563eb;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
 
}

.filter-button:hover {
  background: #2563eb;
  color: #ffffff;
}

.filter-options {
  position:absolute;
  top: 185px;
  left: 980px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter-options.hidden {
  display: none;
}

.filter-options label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #6b7280;
  cursor: pointer;
}

.filter-options.visible {
  display: block;
}


